<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Strona WWW</title>
</head>
<body>
    <h1>Pomniżej znajduje się lokalny adres IP hosta, do którego nawiązano połączenie</h1>
    <h2>{{ adres_ip }}</h2>
</body>
</html>
